.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes bounce {
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}

@keyframes flash {
}

.flash {
  -webkit-animation-name: flash;
  animation-name: flash;
}

@keyframes pulse {
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@keyframes rubberBand {
}

.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
}

@keyframes shake {
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

@keyframes headShake {
}

.headShake {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: headShake;
  animation-name: headShake;
}

@keyframes swing {
}

.swing {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
}

@keyframes tada {
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}

@keyframes wobble {
}

.wobble {
  -webkit-animation-name: wobble;
  animation-name: wobble;
}

@keyframes jello {
}

.jello {
  -webkit-animation-name: jello;
  animation-name: jello;
  -webkit-transform-origin: center;
  transform-origin: center;
}

@keyframes bounceIn {
}

.bounceIn {
  /*-webkit-animation-duration: .75s;*/
  /*animation-duration: .75s;*/
  /*-webkit-animation-name: bounceIn;*/
  /*animation-name: bounceIn;*/
}

.bounceOut, .flipOutX {
  /*-webkit-animation-duration: .75s;*/
  /*animation-duration: .75s;*/
}

@keyframes bounceInDown {
}

.bounceInDown {
  /*-webkit-animation-name: bounceInDown;*/
  /*animation-name: bounceInDown;*/
}

@keyframes bounceInLeft {
}

.bounceInLeft {
  /*-webkit-animation-name: bounceInLeft;*/
  /*animation-name: bounceInLeft;*/
}

@keyframes bounceInRight {
}

.bounceInRight {
  /*-webkit-animation-name: bounceInRight;*/
  /*animation-name: bounceInRight;*/
}

@keyframes bounceInUp {
}

.bounceInUp {
  /*-webkit-animation-name: bounceInUp;*/
  /*animation-name: bounceInUp;*/
}

@keyframes bounceOut {
}

.bounceOut {
  /*-webkit-animation-name: bounceOut;*/
  /*animation-name: bounceOut;*/
}

@keyframes bounceOutDown {
}

.bounceOutDown {
  /*-webkit-animation-name: bounceOutDown;*/
  /*animation-name: bounceOutDown;*/
}

@keyframes bounceOutLeft {
}

.bounceOutLeft {
  /*-webkit-animation-name: bounceOutLeft;*/
  /*animation-name: bounceOutLeft;*/
}

@keyframes bounceOutRight {
}

.bounceOutRight {
  /*-webkit-animation-name: bounceOutRight;*/
  /*animation-name: bounceOutRight;*/
}

@keyframes bounceOutUp {
}

.bounceOutUp {
  /*-webkit-animation-name: bounceOutUp;*/
  /*animation-name: bounceOutUp;*/
}

@keyframes fadeIn {
}

.fadeIn {
  /*-webkit-animation-name: fadeIn;*/
  /*animation-name: fadeIn;*/
}

@keyframes fadeInDown {
}

.fadeInDown {
  /*-webkit-animation-name: fadeInDown;*/
  /*animation-name: fadeInDown;*/
}

@keyframes fadeInDownBig {
}

.fadeInDownBig {
  /*-webkit-animation-name: fadeInDownBig;*/
  /*animation-name: fadeInDownBig;*/
}

@keyframes fadeInLeft {
}

.fadeInLeft {
  /*-webkit-animation-name: fadeInLeft;*/
  /*animation-name: fadeInLeft;*/
}

@keyframes fadeInLeftBig {
}

.fadeInLeftBig {
  /*-webkit-animation-name: fadeInLeftBig;*/
  /*animation-name: fadeInLeftBig;*/
}

@keyframes fadeInRight {
}

.fadeInRight {
  /*-webkit-animation-name: fadeInRight;*/
  /*animation-name: fadeInRight;*/
}

@keyframes fadeInRightBig {
}

.fadeInRightBig {
  /*-webkit-animation-name: fadeInRightBig;*/
  /*animation-name: fadeInRightBig;*/
}

@keyframes fadeInUp {
}

.fadeInUp {
  /*-webkit-animation-name: fadeInUp;*/
  /*animation-name: fadeInUp;*/
}

@keyframes fadeInUpBig {
}

.fadeInUpBig {
  /*-webkit-animation-name: fadeInUpBig;*/
  /*animation-name: fadeInUpBig;*/
}

@keyframes fadeOut {
}

.fadeOut {
  /*-webkit-animation-name: fadeOut;*/
  /*animation-name: fadeOut;*/
}

@keyframes fadeOutDown {
}

.fadeOutDown {
  /*-webkit-animation-name: fadeOutDown;*/
  /*animation-name: fadeOutDown;*/
}

@keyframes fadeOutDownBig {
}

.fadeOutDownBig {
  /*-webkit-animation-name: fadeOutDownBig;*/
  /*animation-name: fadeOutDownBig;*/
}

@keyframes fadeOutLeft {
}

.fadeOutLeft {
  /*-webkit-animation-name: fadeOutLeft;*/
  /*animation-name: fadeOutLeft;*/
}

@keyframes fadeOutLeftBig {
}

.fadeOutLeftBig {
  /*-webkit-animation-name: fadeOutLeftBig;*/
  /*animation-name: fadeOutLeftBig;*/
}

@keyframes fadeOutRight {
}

.fadeOutRight {
  /*-webkit-animation-name: fadeOutRight;*/
  /*animation-name: fadeOutRight;*/
}

@keyframes fadeOutRightBig {
}

.fadeOutRightBig {
  /*-webkit-animation-name: fadeOutRightBig;*/
  /*animation-name: fadeOutRightBig;*/
}

@keyframes fadeOutUp {
}

.fadeOutUp {
  /*-webkit-animation-name: fadeOutUp;*/
  /*animation-name: fadeOutUp;*/
}

@keyframes fadeOutUpBig {
}

.fadeOutUpBig {
  /*-webkit-animation-name: fadeOutUpBig;*/
  /*animation-name: fadeOutUpBig;*/
}

@keyframes flip {
}

.animated.flip {
  /*-webkit-backface-visibility: visible;*/
  /*backface-visibility: visible;*/
  /*-webkit-animation-name: flip;*/
  /*animation-name: flip;*/
}

@keyframes flipInX {
}

.flipInX {
  /*-webkit-backface-visibility: visible!important;*/
  /*backface-visibility: visible!important;*/
  /*-webkit-animation-name: flipInX;*/
  /*animation-name: flipInX;*/
}

.flipInY, .flipOutX {
  /*-webkit-backface-visibility: visible!important;*/
  /*backface-visibility: visible!important;*/
}

@keyframes flipInY {
}

.flipInY {
  /*-webkit-animation-name: flipInY;*/
  /*animation-name: flipInY;*/
}

@keyframes flipOutX {
}

.flipOutX {
  /*-webkit-animation-name: flipOutX;*/
  /*animation-name: flipOutX;*/
}

@keyframes flipOutY {
}

.flipOutY {
  /*-webkit-animation-duration: .75s;*/
  /*animation-duration: .75s;*/
  /*-webkit-backface-visibility: visible!important;*/
  /*backface-visibility: visible!important;*/
  /*-webkit-animation-name: flipOutY;*/
  /*animation-name: flipOutY;*/
}

@keyframes lightSpeedIn {
}

.lightSpeedIn {
  /*-webkit-animation-name: lightSpeedIn;*/
  /*animation-name: lightSpeedIn;*/
  /*-webkit-animation-timing-function: ease-out;*/
  /*animation-timing-function: ease-out;*/
}

@keyframes lightSpeedOut {
}

.lightSpeedOut {
  /*-webkit-animation-name: lightSpeedOut;*/
  /*animation-name: lightSpeedOut;*/
  /*-webkit-animation-timing-function: ease-in;*/
  /*animation-timing-function: ease-in;*/
}

@keyframes rotateIn {
}

.rotateIn {
  /*-webkit-animation-name: rotateIn;*/
  /*animation-name: rotateIn;*/
}

@keyframes rotateInDownLeft {
}

.rotateInDownLeft {
  /*-webkit-animation-name: rotateInDownLeft;*/
  /*animation-name: rotateInDownLeft;*/
}

@keyframes rotateInDownRight {
}

.rotateInDownRight {
  /*-webkit-animation-name: rotateInDownRight;*/
  /*animation-name: rotateInDownRight;*/
}

@keyframes rotateInUpLeft {
}

.rotateInUpLeft {
  /*-webkit-animation-name: rotateInUpLeft;*/
  /*animation-name: rotateInUpLeft;*/
}

@keyframes rotateInUpRight {
}

.rotateInUpRight {
  /*-webkit-animation-name: rotateInUpRight;*/
  /*animation-name: rotateInUpRight;*/
}

@keyframes rotateOut {
}

.rotateOut {
  /*-webkit-animation-name: rotateOut;*/
  /*animation-name: rotateOut;*/
}

@keyframes rotateOutDownLeft {
}

.rotateOutDownLeft {
  /*-webkit-animation-name: rotateOutDownLeft;*/
  /*animation-name: rotateOutDownLeft;*/
}

@keyframes rotateOutDownRight {
}

.rotateOutDownRight {
  /*-webkit-animation-name: rotateOutDownRight;*/
  /*animation-name: rotateOutDownRight;*/
}

@keyframes rotateOutUpLeft {
}

.rotateOutUpLeft {
  /*-webkit-animation-name: rotateOutUpLeft;*/
  /*animation-name: rotateOutUpLeft;*/
}

@keyframes rotateOutUpRight {
}

.rotateOutUpRight {
  /*-webkit-animation-name: rotateOutUpRight;*/
  /*animation-name: rotateOutUpRight;*/
}

@keyframes hinge {
}

.hinge {
  /*-webkit-animation-duration: 2s;*/
  /*animation-duration: 2s;*/
  /*-webkit-animation-name: hinge;*/
  /*animation-name: hinge;*/
}

@keyframes jackInTheBox {
}

.jackInTheBox {
  /*-webkit-animation-name: jackInTheBox;*/
  /*animation-name: jackInTheBox;*/
}

@keyframes rollIn {
}

.rollIn {
  /*-webkit-animation-name: rollIn;*/
  /*animation-name: rollIn;*/
}

@keyframes rollOut {
}

.rollOut {
  /*-webkit-animation-name: rollOut;*/
  /*animation-name: rollOut;*/
}

@keyframes zoomIn {
}

.zoomIn {
  /*-webkit-animation-name: zoomIn;*/
  /*animation-name: zoomIn;*/
}

@keyframes zoomInDown {
}

.zoomInDown {
  /*-webkit-animation-name: zoomInDown;*/
  /*animation-name: zoomInDown;*/
}

@keyframes zoomInLeft {
}

.zoomInLeft {
  /*-webkit-animation-name: zoomInLeft;*/
  /*animation-name: zoomInLeft;*/
}

@keyframes zoomInRight {
}

.zoomInRight {
  /*-webkit-animation-name: zoomInRight;*/
  /*animation-name: zoomInRight;*/
}

@keyframes zoomInUp {
}

.zoomInUp {
  /*-webkit-animation-name: zoomInUp;*/
  /*animation-name: zoomInUp;*/
}

@keyframes zoomOut {
}

.zoomOut {
  /*-webkit-animation-name: zoomOut;*/
  /*animation-name: zoomOut;*/
}

@keyframes zoomOutDown {
}

.zoomOutDown {
  /*-webkit-animation-name: zoomOutDown;*/
  /*animation-name: zoomOutDown;*/
}

@keyframes zoomOutLeft {
}

.zoomOutLeft {
  /*-webkit-animation-name: zoomOutLeft;*/
  /*animation-name: zoomOutLeft;*/
}

@keyframes zoomOutRight {
}

.zoomOutRight {
  /*-webkit-animation-name: zoomOutRight;*/
  /*animation-name: zoomOutRight;*/
}

@keyframes zoomOutUp {
}

.zoomOutUp {
  /*-webkit-animation-name: zoomOutUp;*/
  /*animation-name: zoomOutUp;*/
}

@keyframes slideInDown {
}

.slideInDown {
  /*-webkit-animation-name: slideInDown;*/
  /*animation-name: slideInDown;*/
}

@keyframes slideInLeft {
}

.slideInLeft {
  /*-webkit-animation-name: slideInLeft;*/
  /*animation-name: slideInLeft;*/
}

@keyframes slideInRight {
}

.slideInRight {
  /*-webkit-animation-name: slideInRight;*/
  /*animation-name: slideInRight;*/
}

@keyframes slideInUp {
}

.slideInUp {
  /*-webkit-animation-name: slideInUp;*/
  /*animation-name: slideInUp;*/
}

@keyframes slideOutDown {
}

.slideOutDown {
  /*-webkit-animation-name: slideOutDown;*/
  /*animation-name: slideOutDown;*/
}

@keyframes slideOutLeft {
}

.slideOutLeft {
  /*-webkit-animation-name: slideOutLeft;*/
  /*animation-name: slideOutLeft;*/
}

@keyframes slideOutRight {
}

.slideOutRight {
  /*-webkit-animation-name: slideOutRight;*/
  /*animation-name: slideOutRight;*/
}

@keyframes slideOutUp {
}

.slideOutUp {
  /*-webkit-animation-name: slideOutUp;*/
  /*animation-name: slideOutUp;*/
}

.post_carousel_wrapper {
  overflow: hidden;
  position: relative;
  background: #000;
}

.post_carousel_wrapper > .carousel-inner > .carousel-item > a > img, .post_carousel_wrapper > .carousel-inner > .carousel-item > img {
  opacity: .5;
  margin: auto;
  width: 100%!important;
  height: 650px;
}

.post_carousel_caption {
  left: 0;
  z-index: 1;
  width: 100%;
  bottom: 20%;
  text-shadow: none;
  text-align: center;
  font-family: cinzel;
}

.post_carousel_caption h1 {
  font-size: 45px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.post_carousel_caption h2 {
  font-size: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

@media only screen and (max-width:480px) {
  .post_carousel_indicators {
    bottom: -10px;
  }
}

@media only screen and (max-width:480px) {
  .post_carousel_caption h1 {
    font-size: 16px;
    margin: 0;
  }
}

@media only screen and (max-width:480px) {
  .post_carousel_caption h2 {
    font-size: 14px;
    margin: 0;
  }
}

@media (min-width:481px) and (max-width:600px) {
  .post_carousel_indicators {
    bottom: -10px;
  }
}

@media (min-width:481px) and (max-width:600px) {
  .post_carousel_caption h1 {
    font-size: 25px;
    margin: 0;
  }
}

@media (min-width:481px) and (max-width:600px) {
  .post_carousel_caption h2 {
    font-size: 20px;
    margin: 0;
  }
}

@media (min-width:601px) and (max-width:767px) {
  .post_carousel_indicators {
    bottom: -10px;
  }
}

@media (min-width:601px) and (max-width:767px) {
  .post_carousel_caption h1 {
    font-size: 30px;
  }
}

@media (min-width:601px) and (max-width:767px) {
  .post_carousel_caption h2 {
    font-size: 30px;
    margin: 0;
  }
}

.post_carousel_caption h1, .post_carousel_caption h2 {
  color: #fff3d0;
}

.ps_ease .carousel-item {
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.ps_easeInOut .carousel-item {
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

.ps_speedy .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(0,1,0,1);
  transition-timing-function: cubic-bezier(0,1,0,1);
}

.ps_slowSpeedy .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.3,1,0,1);
  transition-timing-function: cubic-bezier(.3,1,0,1);
}

.ps_easeOutInCubic .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.22,.81,.01,.99);
  transition-timing-function: cubic-bezier(.22,.81,.01,.99);
}

.ps_swing .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.02,.01,.47,1);
  transition-timing-function: cubic-bezier(.02,.01,.47,1);
}

.ps_easeOutCubic .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.215,.61,.355,1);
  transition-timing-function: cubic-bezier(.215,.61,.355,1);
}

.ps_easeInOutCubic .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.645,.045,.355,1);
  transition-timing-function: cubic-bezier(.645,.045,.355,1);
}

.ps_easeOutCirc .carousel-item {
  /*-webkit-transition-timing-function: cubic-bezier(.075,.82,.165,1);*/
  /*transition-timing-function: cubic-bezier(.075,.82,.165,1);*/
}

.ps_easeOutExpo .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
  transition-timing-function: cubic-bezier(.19,1,.22,1);
}

.ps_easeInQuad .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.55,.085,.68,.53);
  transition-timing-function: cubic-bezier(.55,.085,.68,.53);
}

.ps_easeOutQuad .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.25,.46,.45,.94);
  transition-timing-function: cubic-bezier(.25,.46,.45,.94);
}

.ps_easeInOutQuad .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.455,.03,.515,.955);
  transition-timing-function: cubic-bezier(.455,.03,.515,.955);
}

.ps_easeOutQuart .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.165,.84,.44,1);
  transition-timing-function: cubic-bezier(.165,.84,.44,1);
}

.ps_easeInOutQuart .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.77,0,.175,1);
  transition-timing-function: cubic-bezier(.77,0,.175,1);
}

.ps_easeOutQuint .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.23,1,.32,1);
  transition-timing-function: cubic-bezier(.23,1,.32,1);
}

.ps_easeInSine .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.47,0,.745,.715);
  transition-timing-function: cubic-bezier(.47,0,.745,.715);
}

.ps_easeOutSine .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.39,.575,.565,1);
  transition-timing-function: cubic-bezier(.39,.575,.565,1);
}

.ps_easeInOutSine .carousel-item {
  -webkit-transition-timing-function: cubic-bezier(.445,.05,.55,.95);
  transition-timing-function: cubic-bezier(.445,.05,.55,.95);
}

